!!!
%html
  %head
    %title
      = yield(:title) || 'Rails App'
    = stylesheet_link_tag "main"
    = yield(:head)
  %body
    %div#page
      %ul#nav
        %li= link_to "Home", "/"
        %li= link_to "Users", users_url
        - if current_user.nil?
          %li= link_to "Login", login_url
        - else
          %li= link_to "Account", "/user" 
          %li= link_to "Logout", logout_url

      - if flash[:notice]
        #notice= "Notice: #{flash[:notice]}"
      - if flash[:error]
        #error= "Error: #{flash[:error]}"

      = yield :layout

